button{
    margin-left: 3rem;
    margin-bottom: 2rem;
}

.btnToggle{
    margin-left: 3rem;
    padding-bottom: 2rem;
}

.icons{
    margin-left: 3rem;
    padding-bottom: 2rem;
}

.badge{
    margin-left: 3rem;
    padding-bottom: 2rem;
}