mat-sidenav-container {
  //height: 100%;
}

mat-sidenav,
mat-sidenav-content {
  height: 100%;
  padding: 16px;
}

mat-sidenav {
  width: 250px;
  background-color: rgb(51, 51, 51);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .link {
      margin: 0 16px;
      text-decoration: none;
      color: white;
    }
  }
}